@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<input @bind="currentCount" />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        var random = new Random();
        currentCount++;
    }

        protected override void OnInitialized() => base.OnInitialized();

}
